{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
<div class="d-flex">

    {% include 'layout/sidebar.html.twig' %}

    <div class="flex-grow-1 min-vh-100 d-flex flex-column">

        {% include 'layout/navbar.html.twig' %}

        <main class="p-4 flex-grow-1" style="background-color: #f0f2f5;">
            <div class="container-fluid">

                <div class="mb-4">
                    <h4 class="fw-bold mb-1">Détails du projet</h4>
                </div>

                <div class="card border-0 shadow-sm p-5">

                    <div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="fw-bold mb-0">
        {{ projet.titreProjet }}
    </h4>

    <div class="d-flex gap-2">

        

        <!-- DELETE PROJECT -->
        <form method="post"
              action="{{ path('project_delete', { id: projet.id }) }}"
              onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce projet ?');">

            <input type="hidden"
                   name="_token"
                   value="{{ csrf_token('delete-project-' ~ projet.id) }}">

            <button class="btn btn-sm btn-light text-danger"
                    title="Supprimer">
                <i class="bi bi-trash"></i>
            </button>
        </form>

    </div>
</div>


                    <p class="text-muted">
                        {{ projet.description }}
                    </p>

                    <p class="text-muted">
                        {{ projet.technologies }}
                    </p>

                    <p class="text-muted">
    <a href="{{ projet.lienDemo }}" target="_blank" rel="noopener noreferrer">
        {{ projet.lienDemo }}
    </a>
</p>


                    <a href="{{ path('app_portfolio') }}"
                       class="btn btn-sm btn-light mt-4">
                        ← Retour au portfolio
                    </a>

                </div>

            </div>
        </main>

    </div>
</div>
{% endblock %}
