<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>{% block title %}Eduport - Education Platform{% endblock %}</title>
        
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}">
        
        {% block stylesheets %}
            <!-- Google Font -->
            <link rel="preconnect" href="https://fonts.googleapis.com/">
            <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">

            <!-- Plugins CSS -->
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/font-awesome/css/all.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/tiny-slider/tiny-slider.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/glightbox/css/glightbox.css') }}">

            <!-- Theme CSS -->
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-7N7LGGGWT1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-7N7LGGGWT1');
        </script>
        
        <!-- Dark mode -->
        <script>
            const storedTheme = localStorage.getItem('theme')
            const getPreferredTheme = () => {
                if (storedTheme) { return storedTheme }
                return window.matchMedia('(prefers-color-scheme: light)').matches ? 'light' : 'light'
            }
            const setTheme = function (theme) {
                if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.setAttribute('data-bs-theme', 'dark')
                } else {
                    document.documentElement.setAttribute('data-bs-theme', theme)
                }
            }
            setTheme(getPreferredTheme())
        </script>
    </head>
    
    <body>
        {% block body %}{% endblock %}
        
        {% block javascripts %}
            <!-- Bootstrap JS -->
            <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
            
            <!-- Vendors -->
            <script src="{{ asset('assets/vendor/tiny-slider/tiny-slider.js') }}"></script>
            <script src="{{ asset('assets/vendor/glightbox/js/glightbox.js') }}"></script>
            <script src="{{ asset('assets/vendor/purecounterjs/dist/purecounter_vanilla.js') }}"></script>
            
            <!-- Template Functions -->
            <script src="{{ asset('assets/js/functions.js') }}"></script>
        {% endblock %}
    </body>
</html>